{% extends 'nav.html' %} {% block content %}
<br />
{% if messages %}
<div class="row">
  <div class="col-md-8 offset-md-2">
    <ul class="messages list-group">
      {% for message in messages %}
      <li class="list-group-item bg-warning">{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
<br />
{% endif %}

<div class="row">
  <div class="col-md-6">
    {% if product.image %}
    <img
      src="{{ product.image.url }}"
      class="card-img-top"
      alt="some bullshit"
      style="width: 70%"
    />

    {% else %}
    <img
      src="/media/images/no_image.png"
      class="card-img-top"
      alt="some bs"
      style="width: 70%"
    />

    <p>{{ product.image }}</p>
    {% endif %}
    <br />
    <br />
    <a
      href="{% url 'add_to_cart' product.category product.id %}"
      class="btn btn-sm btn-outline-secondary"
    >
      Add to Cart
    </a>
  </div>
  <div class="col-md-6">
    <p style="font-weight: bold">{{ product.name }}</p>
    <p>Price: ${{ product.price }}</p>
    <p>{{ product.description }}</p>
  </div>
</div>
{% endblock %}
