asgiref==3.6.0
autopep8==2.0.2
distlib==0.3.6
Django==4.2.1
filelock==3.10.0
pbr==5.11.1
platformdirs==3.1.1
pycodestyle==2.10.0
sqlparse==0.4.4
stevedore==5.0.0
virtualenv==20.21.0
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
