{% extends 'nav.html' %} {% block content %}

<div class="container">
  <h2>Hello, {{ request.user }}!</h2>

  <!-- Product Management -->
  <div class="form-group">
    <form
      method="post"
      action="{% url 'view_products' %}"
      enctype="multipart/form-data"
      class="form-card"
    >
      {% csrf_token %}
      <button class="btn btn-primary add-button" type="submit">
        Product List
      </button>
    </form>
  </div>
  <form
    method="post"
    action="{% url 'add_product' %}"
    enctype="multipart/form-data"
    class="card"
  >
    {% csrf_token %}
    <div class="card-body">
      <h5 class="card-title">Product Management:</h5>

      <div class="form-group">
        <button
          class="btn btn-primary add-button"
          type="submit"
          name="category"
          value="Shoe"
        >
          Add a New Shoe
        </button>
      </div>
      <div class="form-group">
        <button
          class="btn btn-primary add-button"
          type="submit"
          name="category"
          value="Cloth"
        >
          Add a New Cloth
        </button>
      </div>
      <div class="form-group">
        <button
          class="btn btn-primary add-button"
          type="submit"
          name="category"
          value="Electronic"
        >
          Add a New Electronic
        </button>
      </div>
    </div>
  </form>

  <!-- User Management -->
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">User Management:</h5>

      <form action="{% url 'register_customer' %}" method="post">
        {% csrf_token %}

        <div class="form-group">
          <a
            href="{% url 'register_customer' %}"
            class="btn btn-primary add-button"
          >
            Register New User
          </a>
        </div>
      </form>
      <form action="{% url 'customer_list'  %}" method="post">
        {% csrf_token %}

        <div class="form-group">
          <button
            class="btn btn-primary add-button"
            type="submit"
            name="customer_list"
            value="customer_list"
          >
            Customer List
          </button>
        </div>
      </form>
      <!-- <form action="#" method="post">
        {% csrf_token %}

        <div class="form-group">
          <button
            class="btn btn-primary add-button"
            type="submit"
            name="update_user"
            value="update_user"
          >
            update customer info
          </button>
        </div>
      </form> -->
    </div>
  </div>

  <!-- Order Management -->
  <form method="post" action="#" enctype="multipart/form-data" class="card">
    {% csrf_token %}
    <div class="card-body">
      <h5 class="card-title">Order Management:</h5>
      <!-- Add order management form elements here -->
    </div>
  </form>

  <!-- Promotions & Discounts -->
  <form method="post" action="#" enctype="multipart/form-data" class="card">
    {% csrf_token %}
    <div class="card-body">
      <h5 class="card-title">Promotions & Discounts:</h5>
      <!-- Add promotions & discounts form elements here -->
    </div>
  </form>

  <!-- Other sections can be added as needed -->
</div>

{% endblock %}
