{% extends 'nav.html' %} {% block content %}

<div class="container">
  <h2>Hello, {{ request.user }}!</h2>
  <form
    method="post"
    action="{% url 'add_product' %}"
    enctype="multipart/form-data"
    class="card"
  >
    {% csrf_token %}
    <div class="card-body">
      <h5 class="card-title">Select the Product Category:</h5>
      <div class="form-group">
        <button
          class="btn btn-primary add-button"
          type="submit"
          name="category"
          value="Shoe"
        >
          Add a New Shoe
        </button>
      </div>
      <div class="form-group">
        <button
          class="btn btn-primary add-button"
          type="submit"
          name="category"
          value="Cloth"
        >
          Add a New Cloth
        </button>
      </div>
      <div class="form-group">
        <button
          class="btn btn-primary add-button"
          type="submit"
          name="category"
          value="Electronic"
        >
          Add a New Electronic
        </button>
      </div>
    </div>
  </form>
</div>

<br />
<form
  method="post"
  action="{% url 'view_products' %}"
  enctype="multipart/form-data"
  class="form-card"
>
  {% csrf_token %}
  <button class="view-button" type="submit">View Products</button>
</form>

{% endblock %}
