{% extends 'nav.html' %} {% block content %}
<h2>Hello! {{ request.user }}</h2>

<h3>Welcome</h3>
<form method="post" action="{% url 'add_shoe' %}" enctype="multipart/form-data">
  {% csrf_token %}
  <br />
  <br />
  <input type="submit" value="Add Shoe" />
</form>
<form
  method="post"
  action="{% url 'add_cloth' %}"
  enctype="multipart/form-data"
>
  {% csrf_token %}
  <br />
  <br />
  <input type="submit" value="Add Cloth" />
</form>
<form method="post" action="add_cloth" enctype="multipart/form-data">
  {% csrf_token %}
  <br />
  <br />
  <input type="submit" value="Add Electronic" />
</form>

<form
  method="post"
  action="{% url 'view_products' %}"
  enctype="multipart/form-data"
>
  {% csrf_token %}
  <br />
  <br />
  <input type="submit" value="View Products" />
</form>

  <!-- <p>Please <a href="{% url 'login' %}">Login</a> to Add products</p> -->
  {% endblock %}
</a>
