{% extends 'base.html' %} {% load static %} {% block content %}
<div class="row justify-content-center py-4">
  <h2>Orders List</h2>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <form
        method="GET"
        id="search-form"
        action="{% url 'order_search' %}"
        class="form-inline"
      >
        <div class="input-group w-100">
          <input
            class="form-control"
            type="search"
            name="q"
            id="search-input"
            placeholder="Search"
            aria-label="Search"
            value=""
          />
          <div class="input-group-append">
            <button class="btn btn-outline-success" type="button">
              Search
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <p class="query-search" id="search-query-message"></p>
</div>
<br />
<div id="orders-list" style="margin-left: 10%; margin-right: 10%"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    var typingTimer; // Timer identifier
    var doneTypingInterval = 500; // Time in milliseconds
    var query = "";
    console.log("first perform");
    performSearch(query);
    $("#search-input").on("input", function () {
      clearTimeout(typingTimer);
      query = $(this).val();
      const trimmedQuery = query.trim();
      typingTimer = setTimeout(function () {
        console.log("second perform");
        // if (trimmedQuery.length > 1) {
        performSearch(trimmedQuery);
        // }
      }, doneTypingInterval);
    });

    function performSearch(query) {
      $.ajax({
        url: "{% url 'order_search' %}",
        data: { q: query },
        dataType: "json",
        success: function (data) {
          // Clear any previous error messages
          $("#error-message").remove();

          var ordersListContainer = $("#orders-list");
          ordersListContainer.empty();

          if (data.length === 0) {
            ordersListContainer.append("<p>No results found.</p>");
          } else {
            $.each(data, function (index, orderData) {
              currentStatus = orderData.status;
              var statusSelect = $("<select>")
                .addClass("form-control")
                .append(
                  $("<option>").attr("value", "Pending").text("Pending"),
                  $("<option>").attr("value", "Shipped").text("Shipped"),
                  $("<option>").attr("value", "Delivered").text("Delivered"),
                  $("<option>").attr("value", "Cancelled").text("Cancelled")
                )
                .find("option[value='" + orderData.status + "']")
                .attr("selected", "selected")
                .end()
                .on("change", function () {
                  var newStatus = $(this).val();
                  confirmation = confirm(
                    "Are you sure you want to update the status of of this order?"
                  );
                  if (confirmation) {
                    updateOrderStatus(orderData.id, newStatus);
                  } else {
                    statusSelect.val(orderData.status);
                  }
                });

              // Create the Edit button
              /*
              var editButton = $("<button>")
                .addClass("btn btn-primary")
                .text("Edit")
                .on("click", function () {
                  var newStatus = statusSelect.val();
                  updateOrderStatus(orderData.id, newStatus);
                });*/

              var orderDiv = $("<div>").addClass("bg-light col-md-12 mb-4");

              // Create the header row
              var headerRow = $("<div>").addClass(
                "row justify-content-around align-items-center bg-primary text-white"
              );

              headerRow.append(
                $("<p>").text(orderData.user),
                $("<p>").text(orderData.order_date),
                $("<p>").text("$" + orderData.total_amount),
                $("<p>").append(statusSelect)
                //$("<p>").append(editButton)
              );

              // Create the parent div for the "Items" button and center it
              var itemsButtonContainer = $("<div>").addClass(
                "row justify-content-center py-2"
              );
              var itemsButton = $(
                "<button type='button' data-toggle='collapse' class='text-decoration-none  bg-secondary text-white btn btn-link'>"
              )
                //.addClass("btn btn-link ")
                //.attr("type", "button")
                //.attr("data-toggle", "collapse")
                .attr("data-target", "#items-" + orderData.id) // Use a unique identifier based on order ID
                .text(" Expand ⬇︎ Items");
              //.css("text-decoration", "none");

              // Create the Items container
              var itemsContainer = $("<div>").addClass(
                "col-md-12 mt-3 collapse"
              );
              itemsContainer.attr("id", "items-" + orderData.id); // Use a unique identifier based on order ID

              // Create the Items table
              var itemsTable = $("<table>").addClass(
                "table bg-white table-bordered"
              );
              itemsTable.append(
                $("<thead>").append(
                  $("<tr>").append(
                    $("<th>").text("Products"),
                    $("<th>").text("Quantity"),
                    $("<th>").text("Price")
                  )
                ),
                $("<tbody>").append(
                  $.map(orderData.items, function (orderItem) {
                    return $("<tr>").append(
                      $("<td>").text(orderItem.product_name),
                      $("<td>").text(orderItem.quantity),
                      $("<td>").text("$" + orderItem.price)
                    );
                  })
                )
              );

              // Create the Shipping Address row
              var shippingAddressRow = $("<div>").addClass(
                "row justify-content-center pt-2"
              );
              shippingAddressRow.append(
                $("<p>")
                  .addClass("pr-3")
                  .html("<strong> Shipping Address </strong>"),
                $("<p>").text(orderData.shipping_address)
              );

              // Append all elements to the orderDiv
              orderDiv.append(
                headerRow,
                itemsButtonContainer.append(itemsButton), // Append the button to the centered container
                itemsContainer.append(itemsTable),
                shippingAddressRow
              );

              // Append the orderDiv to the orders list container
              $("#orders-list").append(orderDiv);
            });
          }
        },
        error: function (xhr, status, error) {
          // Handle errors here
          $("#error-message").remove();
          var errorMessage = $(
            "<p id='error-message'>An error occurred while fetching results.</p>"
          );
          $("#orders-list").append(errorMessage);
        },
      });
    }

    function updateOrderStatus(orderId, newStatus) {
      $.ajax({
        url: "{% url 'update_status' %}",
        method: "POST",
        data: { order_id: orderId, new_status: newStatus },
        dataType: "json",
        success: function (data) {
          // Handle success
          alert("Order status updated successfully!");
          // You can also update the displayed status here if needed
        },
        error: function (xhr, status, error) {
          // Handle errors here
          alert("Error updating order status.");
        },
      });
    }
  });
</script>

{% endblock %}
