{% extends 'nav.html' %} {% block content %}
<br />
{% if messages %}
<div class="row">
  <div class="col-md-8 offset-md-2">
    <ul class="messages list-group">
      {% for message in messages %}
      <li class="list-group-item bg-success">{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h1>Edit Product</h1>

      <form method="post" enctype="multipart/form-data">
        {% csrf_token %} {% for field in form %}
        <div class="form-group">
          <label for="{{ field.id_for_label }}">
            {{ field.label }}{% if field.field.required %}
            <span style="color: red">*</span>
            {% endif %}
          </label>
          {% if field.name == 'description' %}
          <textarea
            id="{{ field.id_for_label }}"
            name="{{ field.name }}"
            class="form-control"
            style="resize: both"
          >
{{ field.value|default:'' }}</textarea
          >
          {% else %}
          <input
            type="{{ field.field.widget.input_type }}"
            id="{{ field.id_for_label }}"
            name="{{ field.name }}"
            value="{{ field.value|default:'' }}"
            class="form-control"
          />
          {{field.name}} {{fie.value}} {% endif %}
        </div>
        {% endfor %}

        <label for="images">Add more Pictures: </label>
        <input
          type="file"
          name="images"
          id="images"
          value="Upload Pictures"
          multiple
        />
        or delete old ones
        <br />
        <br />
        <button
          class="btn btn-lg btn-info rounded-pill shadow-sm"
          type="submit"
          name="save_changes"
        >
          Save Changes
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
