{% extends 'nav.html' %} {% block content %} {% if username == "" %}
<a href="{% url 'login_customer' %}"> Login</a>
<br />
<br />
<br />
<p>dont have account?</p>
<a href="{% url 'register_customer' %}"> register</a>
{% else %}
<p>
  welcome <span style="font-weight: bold">{{request.user}}</span> this is the
  home page
</p>
<br />{% endif%}

<!-- <label for="images">Add more Pictures: </label>
<input type="file" name="images" id="images" value="Upload Pictures" multiple /> -->

<!-- <form action="" enctype="multipart/form-data" method="post">
  <div>
    <label for="upload">Add Attachments:</label>
    <input id="upload" name="upload[]" type="file" multiple="multiple" />
  </div>
</form> -->
{%endblock%}
