{% extends 'nav.html' %} {% block content %} {% load static %} {% if cart %}

<div class="container">
  <h1 class="text-center">PayPal Checkout</h1>

  <h2>Items</h2>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        {% for item in cart %}
        <tr>
          <td>{{item.product.name}}</td>
          <td>${{item.product.price}}</td>
          <td>{{item.quantity}}</td>
        </tr>
        {% endfor %}
        <tr>
          <th>Total</th>
          <th colspan="2">${{total_price}}</th>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="text-center">{{ form.render }}</div>
</div>
{% else %} {% endif %} {% endblock %}
